* {
    margin: 0;
    padding: 0;
}

img  {
    border: none;
}

body {
    background-color: #dedbd6;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #969696;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    color: #2e2c2d;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.karkas {
    max-width: 1200px;
    min-width: 200px;
    margin: 0 auto;
}

.head {
    padding: 30px 30px 80px 0;
    overflow: hidden;
}

.header-logo {
    float: left;
    margin: 25px 50px 0 0;
}

.head h1 {
    float: left;
    font-size: 15px;
    color: #939393;
    margin: 32px 0 0 0;
}

.head p {
    float: right;
    overflow: hidden;
}

.head p a {
    float: left;
    margin-left: 10px;      
}

.content-wrapper {
    background-color: #fff;
}

.menu {
    background-color: #e8e7e3;
    margin-bottom: 30px;
}

.menu ul {
    overflow: hidden;
    padding: 30px;
    list-style: none;
    font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.menu ul li {
    float: left;
    margin-right: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #413f40;
    padding: 5px 20px;
    display: block;
    border: 1px solid #e8e7e3;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.menu ul li.active a {
    background-color: #f45300;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #c84502;
}

.menu a#pull  {
    display: none;
}

.content-main {
    padding: 0 30px;
}

.slogan-main {
    overflow: hidden;
    margin-bottom: 30px;
}

.slogan {
    float: left;
    width: 33%;
}

.slogan div {
    padding-right: 30px;
}

.slogan div h2 {
    font-size: 13px;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.slogan div h2 img {
    float: left;
    margin: 0 20px 0 0;
}

.features {
    margin-bottom: 30px;
}

.features img {
    width: 100%;
}

.service-main {
    overflow: hidden;
    margin-bottom: 30px;
}

.service {
    float: left;
    width: 25%;
}

.service div {
    padding-right: 30px;
}

.service div h2 {
    font-size: 13px;
    margin-bottom: 20px;
}

.service div p {
    margin-bottom: 20px;
}

.work-with-us {
    background-color: #f7f5ef;
    padding: 30px 20px;
    margin-bottom: 30px;
    overflow: hidden;
}

.work-with-us h2 {
    float: left;
    width: 62%;
    font-size: 18px;
    color: #706d6a;
    line-height: 1.6;
}

.work-with-us a {
    float: right;
    width: 38%;
}

.work-with-us a img {
    display: block;
    margin: 0 auto;
}

.bottom-content-block {
    overflow: hidden;
    margin-bottom: 30px;
}

.bottom-content-block h2 {
    font-size: 14px;
    margin-bottom: 20px;
}

.bottom-content-left {
    float: left;
    width: 66%;
}

.review {
    float: left;
    width: 43%;
    margin-right: 7%;
}

.review-head {
    overflow: hidden;
    margin-bottom: 20px;
}

.review-head img {
    float: left;
    margin-right: 20px;
    border-radius: 7px;
}

.review-head h3 {
    font-size: 13px;
    margin-bottom: 10px;
}

.review-head p {
    font-size: 10px;
    color: #f55909;
}

.bottom-content-right {
    float: right;
    width: 34%;
}

.news-block {
    overflow: hidden;
    margin-bottom: 20px;
}

.news-block img {
    float: left;
    margin-right: 15px;
}

.news-block h3 {
    font-size: 13px;
    margin-bottom: 5px;
}

.news-block h3 a {
    color: #343233;
    text-decoration: none;
}

.news-block h3 a:hover {
    text-decoration: underline;
}

.news-block p {
    font-size: 12px;
    color: #adadad;
    line-height: 1.5;
}

.news-block p span {
    color: #f55909;
    font-size: 10px;
}

.footer-main {
    background-color: #4a4744;
    padding: 40px 30px 30px 30px;
    font-size: 12px;
    color: #848484;
    line-height: 1.5;
    overflow: hidden;
}

.footer-main a {
    color: #f7f5ee;
    text-decoration: none;
}

.footer-main a:hover {
    text-decoration: underline;
}

.footer-main h3 {
    color: #f7f5ee;
    font-size: 13px;
    margin-bottom: 15px;
}

.footer-block-left {
    float: left;
    width: 60%;
    margin-right: 6%;
}

.footer-block-right {
    float: right;
    width: 34%;
}

.footer-block-right ul {
    list-style: none;
}

.footer-block-right ul li {
    margin-bottom: 5px;
}

.footer-copy {
    background-color: #2f2d2b;
    overflow: hidden;
    padding: 20px 30px;
}

.footer-copy img {
    float: left;
}

.footer-copy p {
    float: right;
    color: #848484;
    font-size: 12px;
}

.footer-copy p a {
    color: #f7f5ee;
    text-decoration: none;
}

.footer-copy p a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 769px) and (max-width: 800px) {
    .service {
        float: left;
        width: 50%;
    }

    .work-with-us h2 {
        float: none;
        width: 100%;
        font-size: 18px;
        color: #706d6a;
        line-height: 1.6;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .work-with-us a {
        float: none;
    }
    
    .work-with-us a img {
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .service {
        float: left;
        width: 50%;
    }

    .work-with-us h2 {
        float: none;
        width: 100%;
        font-size: 18px;
        color: #706d6a;
        line-height: 1.6;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .work-with-us a {
        float: none;
    }
    
    .work-with-us a img {
        display: block;
        margin: 0 auto;
    }

    .head {
        padding: 10px 30px 30px 0;
        overflow: hidden;
        position: relative;
    }
    
    .header-logo {
        float: none;
        margin: 25px auto 0 auto;
        display: block;
    }
    
    .head h1 {
        float: none;
        font-size: 15px;
        color: #939393;
        margin: 20px 0 0 0;
        text-align: center;
    }
    
    .head p {
        float: none;
        overflow: hidden;
        position: absolute;
        top: 20px;
        right: 30px;
    }
    
    .head p a {
        float: left;
        margin-left: 10px;      
    }

    .bottom-content-left {
        float: none;
        width: 100%;
        margin-bottom: 30px;
        overflow: hidden;
    }

    .bottom-content-right {
        float: none;
        width: 100%;
    }

    .news-block {
        overflow: hidden;
        margin-bottom: 20px;
        float: left;
        width: 48%;
        margin-right: 2%;
    }

    .menu ul {
        display: none;
    }

    .menu a#pull  {
        display: block;
        font-size: 14px;
        font-weight: 700;
        color: #333;
        text-decoration: none;
        padding: 10px 3%;
        width: 94%;
        position: relative;
    }

    .menu a#pull:after {
        content: "";
        background-image: url(./images/icon-menu.png);
        background-repeat: no-repeat;
        width: 12px;
        height: 13px;   
        display: inline-block;
        position: absolute;
        top: 12px;
        right: 3%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
    .slogan {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .service {
        width: 50%;
    }

    .work-with-us h2 {
        float: none;
        width: 100%;
        font-size: 18px;
        color: #706d6a;
        line-height: 1.6;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .work-with-us a {
        float: none;
    }
    
    .work-with-us a img {
        display: block;
        margin: 0 auto;
    }

    .head {
        padding: 10px 30px 30px 0;
        overflow: hidden;
        position: relative;
    }
    
    .header-logo {
        float: none;
        margin: 25px auto 0 auto;
        display: block;
    }
    
    .head h1 {
        float: none;
        font-size: 15px;
        color: #939393;
        margin: 20px 0 0 0;
        text-align: center;
    }
    
    .head p {
        float: none;
        overflow: hidden;
        position: absolute;
        top: 20px;
        right: 30px;
    }
    
    .head p a {
        float: left;
        margin-left: 10px;      
    }

    .bottom-content-left {
        float: none;
        width: 100%;
        margin-bottom: 30px;
        overflow: hidden;
    }

    .bottom-content-right {
        float: none;
        width: 100%;
    }

    .news-block {
        overflow: hidden;
        margin-bottom: 20px;
        float: left;
        width: 48%;
        margin-right: 2%;
    }

    .menu ul {
        display: none;
    }

    .menu a#pull  {
        display: block;
        font-size: 14px;
        font-weight: 700;
        color: #333;
        text-decoration: none;
        padding: 10px 3%;
        width: 94%;
        position: relative;
    }

    .menu a#pull:after {
        content: "";
        background-image: url(./images/icon-menu.png);
        background-repeat: no-repeat;
        width: 12px;
        height: 13px;   
        display: inline-block;
        position: absolute;
        top: 12px;
        right: 3%;
    }
}

@media only screen and (min-width: 241px) and (max-width: 480px) {
    .slogan {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }

    .slogan div {
        padding-right: 0;
    }
    
    .service {
        width: 100%;
    }

    .service div {
        padding-right: 0;
    }

    .work-with-us h2 {
        float: none;
        width: 100%;
        font-size: 18px;
        color: #706d6a;
        line-height: 1.6;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .work-with-us a {
        float: none;
    }
    
    .work-with-us a img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    .head {
        padding: 10px 0 15px 0;
        overflow: hidden;
        position: relative;
    }
    
    .header-logo {
        float: none;
        margin: 0 auto 0 auto;
        display: block;
        width: 100px;
    }
    
    .head h1 {
        display: none;
    }
    
    .head p {
        display: none;
    }

    .bottom-content-left {
        float: none;
        width: 100%;
        margin-bottom: 30px;
        overflow: hidden;
    }

    .review {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }

    .bottom-content-right {
        float: none;
        width: 100%;
    }

    .news-block {
        overflow: hidden;
        margin-bottom: 20px;
        float: left;
        width: 100%;
    }

    .footer-block-left {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .footer-block-right {
        float: none;
        width: 100%;
    }

    .footer-copy img {
        float: none;
        display: block;
        margin: 0 auto 10px auto;
    }
    
    .footer-copy p {
        float: none;
        color: #848484;
        font-size: 12px;
        text-align: center;
    }

    .menu ul {
        display: none;
    }

    .menu ul li {
        width: 100%;
    }

    .menu a#pull  {
        display: block;
        font-size: 14px;
        font-weight: 700;
        color: #333;
        text-decoration: none;
        padding: 10px 3%;
        width: 94%;
        position: relative;
    }

    .menu a#pull:after {
        content: "";
        background-image: url(./images/icon-menu.png);
        background-repeat: no-repeat;
        width: 12px;
        height: 13px;   
        display: inline-block;
        position: absolute;
        top: 12px;
        right: 3%;
    }
}

@media only screen and (max-width: 240px) {
    .content-main {
        padding: 0 10px;
    }
    
    .slogan {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }

    .slogan div {
        padding-right: 0;
    }
    
    .service {
        width: 100%;
    }

    .service div {
        padding-right: 0;
    }

    .work-with-us h2 {
        float: none;
        width: 100%;
        font-size: 15px;
        color: #706d6a;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .work-with-us a {
        float: none;
    }
    
    .work-with-us a img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    .head {
        padding: 10px 0 15px 0;
        overflow: hidden;
        position: relative;
    }
    
    .header-logo {
        float: none;
        margin: 0 auto 0 auto;
        display: block;
        width: 100px;
    }
    
    .head h1 {
        display: none;
    }
    
    .head p {
        display: none;
    }

    .bottom-content-left {
        float: none;
        width: 100%;
        margin-bottom: 30px;
        overflow: hidden;
    }

    .review {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }

    .bottom-content-right {
        float: none;
        width: 100%;
    }

    .news-block {
        overflow: hidden;
        margin-bottom: 20px;
        float: left;
        width: 100%;
    }

    .footer-block-left {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .footer-block-right {
        float: none;
        width: 100%;
    }

    .footer-copy img {
        float: none;
        display: block;
        margin: 0 auto 10px auto;
    }
    
    .footer-copy p {
        float: none;
        color: #848484;
        font-size: 12px;
        text-align: center;
    }

    .footer-main {
        background-color: #4a4744;
        padding: 30px 10px 30px 10px;
        font-size: 12px;
        color: #848484;
        line-height: 1.5;
        overflow: hidden;
    }

    .footer-copy {
        background-color: #2f2d2b;
        overflow: hidden;
        padding: 20px 10px;
    }

    .menu ul {
        display: none;
    }

    .menu ul li {
        width: 100%;
    }

    .menu a#pull  {
        display: block;
        font-size: 14px;
        font-weight: 700;
        color: #333;
        text-decoration: none;
        padding: 10px 3%;
        width: 94%;
        position: relative;
    }

    .menu a#pull:after {
        content: "";
        background-image: url(./images/icon-menu.png);
        background-repeat: no-repeat;
        width: 12px;
        height: 13px;   
        display: inline-block;
        position: absolute;
        top: 12px;
        right: 3%;
    }
}

